In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

! pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 86 kB/s eta 0:00:012
Requirement already satisfied: scipy>=1.2.1 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.7.1)
Collecting scikit-learn>=1.0.2
  Downloading scikit_learn-1.1.3-cp39-cp39-macosx_10_9_x86_64.whl (8.7 MB)
     |████████████████████████████████| 8.7 MB 146 kB/s eta 0:00:01
Requirement already satisfied: matplotlib>=3.0.0 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: numpy>=1.16.2 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: joblib>=0.13.2 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: pandas>=0.24.2 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: scikit-learn, mlxtend
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.2
    Uninstalling scikit-learn-0.24.2:
      Successfully uninstalled scikit-learn-0.24.2
Successfully installed mlxtend-0.21.0 scikit-learn-1.1.3

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [2]:
# load the data set ans show the first five transaction

df = pd.read_csv("https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv")
df.head(5)

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

In [8]:
items = set()
for col in df:
    if df[col].unique != " " :
        items.update(df[col].unique())
print(items)

{nan, 'Meat', 'Wine', 'Diaper', 'Eggs', 'Milk', 'Cheese', 'Bread', 'Bagel', 'Pencil'}

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [9]:
#create an itemset based on the products
itemset = set(items)

# encoding the feature
encoded = []
for index, row in df.iterrows():
    rowset = set(row)
    labels = {}
    uncommons = list(itemset - rowset)
    commons = list(itemset.intersection(rowset))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded.append(labels)
encoded[0]

{nan: 0,
 'Milk': 0,
 'Bagel': 0,
 'Meat': 1,
 'Wine': 1,
 'Diaper': 1,
 'Eggs': 1,
 'Cheese': 1,
 'Bread': 1,
 'Pencil': 1}

In [10]:
  # create new dataframe from the encoded features
encoded_df = pd.DataFrame(encoded)
  # show the new dataframe
encoded_df.head()

   NaN  Milk  Bagel  Meat  Wine  Diaper  Eggs  Cheese  Bread  Pencil
0    0     0      0     1     1       1     1       1      1       1
1    0     1      0     1     1       1     0       1      1       1
2    1     1      0     1     1       0     1       1      0       0
3    1     1      0     1     1       0     1       1      0       0
4    1     0      0     1     1       0     0       0      0       1

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [13]:
encoded_df.drop(encoded_df.columns[0], axis=1, inplace=True)
encoded_df.head()

   Milk  Bagel  Meat  Wine  Diaper  Eggs  Cheese  Bread  Pencil
0     0      0     1     1       1     1       1      1       1
1     1      0     1     1       1     0       1      1       1
2     1      0     1     1       0     1       1      0       0
3     1      0     1     1       0     1       1      0       0
4     0      0     1     1       0     0       0      0       1

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [15]:
from mlxtend.frequent_patterns import apriori, association_rules

freq_product = apriori(encoded_df, min_support = 0.2, use_colnames = True, verbose = 1)
freq_product

Processing 156 combinations | Sampling itemset size 3

/Users/manueljohantito/opt/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support              itemsets
0   0.501587                (Milk)
1   0.425397               (Bagel)
2   0.476190                (Meat)
3   0.438095                (Wine)
4   0.406349              (Diaper)
5   0.438095                (Eggs)
6   0.501587              (Cheese)
7   0.504762               (Bread)
8   0.361905              (Pencil)
9   0.225397         (Milk, Bagel)
10  0.244444          (Milk, Meat)
11  0.219048          (Milk, Wine)
12  0.244444          (Eggs, Milk)
13  0.304762        (Milk, Cheese)
14  0.279365         (Milk, Bread)
15  0.279365        (Bread, Bagel)
16  0.250794          (Wine, Meat)
17  0.266667          (Eggs, Meat)
18  0.323810        (Meat, Cheese)
19  0.206349         (Meat, Bread)
20  0.234921        (Wine, Diaper)
21  0.241270          (Eggs, Wine)
22  0.269841        (Wine, Cheese)
23  0.244444         (Wine, Bread)
24  0.200000        (Pencil, Wine)
25  0.200000      (Cheese, Diaper)
26  0.231746       (Bread, Diaper)
27  0.298413        (Eggs, Cheese)
28  0.238095       (Cheese, Bread)
29  0.200000      (Pencil, Cheese)
30  0.200000       (Pencil, Bread)
31  0.203175  (Milk, Meat, Cheese)
32  0.215873  (Eggs, Meat, Cheese)

The we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [16]:
rules = association_rules(freq_product, metric='confidence', min_threshold = 0.6)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
1,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
3,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
4,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540

In [17]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
1,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
3,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
4,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
5,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
6,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
7,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
8,"(Milk, Meat)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
9,"(Milk, Cheese)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
10,"(Meat, Cheese)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845
11,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667
12,"(Eggs, Cheese)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
13,"(Meat, Cheese)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714